<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Edit Idea</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/ideas/<%=idea._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="idea[title]"
          value="<%=idea.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="idea[location]"
          value="<%=idea.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="idea[description]"
          required
        >
<%= idea.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Idea</button>
      </div>
    </form>
    <a href="/ideas/<%= idea._id%>">Back To Idea</a>
  </div>
</div>
